@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tailwind example */
.btn-primary {
  @apply bg-[#C2933E] text-white px-6 py-2 rounded hover:bg-[#a87c32];
}

.btn-secondary {
  @apply bg-[#7C1C2B] text-white px-6 py-2 rounded hover:bg-[#66101f];
}

accent- #1F7349(hover effect) neutral- #FDF7F0 (background) body text-#222222